doctype html
include pugmodules/bemto/bemto
include blocks/head/head
include blocks/header/header
include blocks/content/content
include blocks/footer/footer
-set_bemto_settings({modifier: "--"})

html(lang="ru-RU", manifest="default.appcache")
	head
		block head
			+head({
				"title": "someTitle"
			})
	body
		+b.DIV.wrapper
			//header
			block header
				+header('Title')
			//content
			block content
			//footer
			block footer
				+footer()